<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/btn_spinner.js"></script>
    <script src="https://kit.fontawesome.com/9666c3f955.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <title>{% block page_title %}{% endblock %}</title>
</head>
<style>
    body {
        transition: background-color 0.3s, color 0.3s;
    }
    .theme-toggle {
        cursor: pointer;
    }
</style>
<body class="py-5 bg-light">
    {% block body %}{% endblock %}
    {% if current_user.username %}
     <div class="bottom-menu d-flex justify-content-around align-items-center p-3 m-2">
         <a href="/index" class="text-center">
            <i class="fa-solid fa-house"></i>
        </a>
        <a href="#" class="text-center">
            <i class="fa-solid fa-magnifying-glass"></i>
        </a>
        <a href="/profile" class="text-center">
            <i class="fa-solid fa-user"></i>
        </a>
    </div>
    {% else %}
    {% endif %}

    {% block scripts %}{% endblock %}
    <script>
        // Добавляем обработчик для всех кнопок submit на странице
        document.querySelectorAll('button[type="submit"]').forEach(button => {
          button.addEventListener("click", function (e) {
            // Проверяем, есть ли уже спиннер в кнопке, если нет - добавляем его
            let spinner = button.querySelector('.spinner-border');
            let buttonText = button.querySelector('#buttonText');
      
            // Если спиннера нет, добавляем его и изменяем текст
            if (!spinner) {
              spinner = document.createElement('span');
              spinner.classList.add('spinner-border', 'spinner-border-sm', 'me-2');
              spinner.setAttribute('role', 'status');
              spinner.setAttribute('aria-hidden', 'true');
              spinner.style.display = 'inline-block'; // Показываем спиннер сразу
      
              buttonText = button.querySelector('span');
              buttonText.textContent = ''; // Изменяем текст
      
              // Добавляем спиннер в начало кнопки
              button.insertBefore(spinner, buttonText);
            }
      
            // Блокируем кнопку
            button.disabled = true;
      
            // Имитация задержки перед отправкой формы (например, 2 секунды)
            setTimeout(() => {
              button.closest('form').submit(); // Отправляем форму после задержки
            }, 2000);
      
            // Предотвращаем немедленную отправку формы
            e.preventDefault();
          });
        });
      </script>
      
      
</body>
</html>